@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
}

body{
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --header-height: 65px;
    --footer-height: 60px;
    --main-color: #5499c7;
    --back-color: #060115;
    --second-main-color: #aed6f1 ;
}


main{
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--back-color);
}

